services:
  terraform:
    build:
      context: .
      dockerfile: Dockerfile.terraform
    entrypoint: sleep infinity
    environment:
      TF_LOG: "${TF_LOG:-INFO}"
      TF_VAR_tenant_name:
      TF_VAR_domain:
      TF_VAR_client_id:
      TF_VAR_client_secret:
      TF_VAR_safename:
      TF_VAR_secret_key:
      TF_VAR_aws_username:
      TF_VAR_azure_username:
      TF_VAR_db_username:
      TF_VAR_aws_store_name:
      TF_VAR_policy_name:
      TF_VAR_source_P_cloud_id:
      TF_VAR_target_secretstore_id:
      TF_VAR_aws_alias:
      TF_VAR_aws_region:
      TF_VAR_aws_account_id:
      TF_VAR_aws_iam_role:
      TF_VAR_aws_key_id:
      TF_VAR_ms_app_id:
      TF_VAR_ms_app_obj_id:
      TF_VAR_ms_key_id:
    working_dir: /src
    volumes:
      - $PWD:/src
      - $PWD/dist/terraform-provider-cybr-sh_linux_amd64_v1/:/usr/share/terraform/plugins/example/cyberark/cybr-sh/${SECRETSHUB_VERSION}/linux_amd64/
