# Exclude the docker-compose files from the scan since they're only used in the
# development and CI (build, test) processes. Also exclude test and example TF files.
exclude-paths:
  - terraform-provider-cyberark/docker-compose.yml
  - terraform-provider-cyberark/docker-compose.test.yml
  - terraform-provider-cyberark/examples/*
  - terraform-provider-cyberark/test/*
